header {
    background: lightseagreen;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.produtos {
    display: flex; /*Para colocar cada item um do lado do outro*/
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.produto {
    border: 1px solid lightseagreen;
    margin-bottom: 20px;
    cursor: pointer; /*Para alterar o cursor do mouse para Maozinha quando o mouse passar por cima*/
}

.produto p {
    background: lightseagreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px 10px; /*Quando colocar uma propriedade apenas, esse valor serve para todos os lados. Quando eu coloco 2 propriedades a primeira serve para (Cima e Baixo, e a outra serve para Esquerda e Direita)*/
}

.produto p:hover {
    transform: rotate(-4deg) /*Onde o nome do produto está escrito ficará mexendo no sentido anti horario quando o mouse passar por cima*/
}
